@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);


#app-layout {
  /*padding: 1.5em;*/
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card {
  width: 100%;
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(cyan), to(magenta));
  background-image: -webkit-linear-gradient(top, cyan, magenta);
  background-image: -moz-linear-gradient(top, cyan, magenta);
  background-image: linear-gradient(to bottom, cyan, magenta);*/
}

.mdl-layout {
  height: 100vh;
}

.mdl-layout__content {
  padding: 1.5em;
}