.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card {
  width: 100%;
  margin-bottom: 10px;
}

.mdl-card__title {
  color: #fff;
  font-weight: bold;
}

.mdl-layout {
  height: 100vh;
}

.mdl-layout__content {
  padding: 1.5em;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #1a1a1b !important
}

.mdl-card__supporting-text {
  color: rgba(0, 0, 0, 0.92);
}

.mdl-textfield {
  width: 100%;
}

#snackbar-message-error {
  background-color: #B71C1C;
}

#snackbar-message-success {
  background-color: #00C853;
}

.mdl-layout__drawer {
  border: none;
}

#ajax-preloader {
  margin-bottom: 10px;
}

.card-wrapper {
  display: flex;
}

.card-link-anchor {
  color: #fff;
  text-decoration: none
}

.card-link-anchor:hover {
  text-decoration: underline
}

.card-badge {
  position: absolute;
  margin-right: 0;
  z-index: 500;
  right: 2.5em;
}

.card-badge::after {
  background: #4059ff !important;
}

.input-group {
  width: 100%;
}

.form-footer {
  text-align: right;
  width: 100%;
}

.field-name {
  margin-right: 10px;
  font-size: 14pt;
}

.sidenav-icon {
  margin-right: 10px;
}

.sidepan-header {
  text-shadow: 2px 1px 6px black;
  color: white;
  background: linear-gradient(230deg, rgba(63,81,181,1) 0%, rgba(0,128,128,1) 100%);
}